<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANGER Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <!--Navigáció-->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../../home.html">DANGER Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../noi.html">Női</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../ferfi.html">Férfi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../gyerek.html">Gyerek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../kosar.html">Kosár</a>
                    </li>
                </ul>
                <!--Keresés-->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
                </form>
            </div>
        </nav>
        <p></p>

        <div class="container">
            <div class="row">
                <div class="col-md-6 shoe-images">
                    <img class="shoe-image" src="../../cipo_kepek/adidas/ferfi/forest hills.jpg" alt="Shoe 1">
                    <img class="shoe-image" src="hills_2.jpg" alt="Shoe 2">
                    <img class="shoe-image" src="hills_3.jpg" alt="Shoe 3">
                    <img class="shoe-image" src="hills_4.jpg" alt="Shoe 4">
                </div>
                <div class="col-md-6 form-container">
                    <form>
                        <div class="form-group">
                            <label for="shoeSize">Válasszon méretet:</label>
                            <select class="form-control" id="shoeSize">
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>45</option>
                                <option>46</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Kosárba rak</button>
                    </form>
                </div>

                <p></p>

                <!-- Adidas Forest Hills Leírás -->
                <div class="container description-container mt-5 p-4 border rounded">
                    <h2 class="text-center mb-4">Adidas Forest Hills</h2>
                    <p class="description-text">
                        Az Adidas Forest Hills egy stílusos és ikonikus cipő, amelyet eredetileg az 1970-es években
                        terveztek. A cipő nevét
                        a Forest Hills teniszstadionról kapta, ami New Yorkban található, és ahol a legnagyobb
                        teniszbajnokságok zajlanak.
                    </p>
                    <p class="description-text">
                        Az Adidas Forest Hills jellegzetes kialakítása magában foglalja a domború talpát és a
                        kontrasztos oldalsó csíkokat.
                        A minőségi bőr felsőrész és a kényelmes talpbetét teszik ezt a cipőt ideálissá mindennapi
                        viseletre.
                    </p>
                    <p class="description-text">
                        A cipő ikonikus stílusa és az elérhető különböző színváltozatok lehetővé teszik, hogy kifejezd
                        egyediségedet és emeld ki
                        az öltözködésed. Az Adidas Forest Hills nem csupán egy cipő, hanem egy stílusában és
                        történetében is gazdag
                        divatelem.
                    </p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>