<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANGER Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <!--Navigáció-->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../../home.html">DANGER Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../noi.html">Női</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../ferfi.html">Férfi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../gyerek.html">Gyerek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../kosar.html">Kosár</a>
                    </li>
                </ul>
                <!--Keresés-->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
                </form>
            </div>
        </nav>
        <p></p>

        <div class="container">
            <div class="row">
                <div class="col-md-6 shoe-images">
                    <img class="shoe-image" src="../../cipo_kepek/puma/ferfi/ST RUNNER V2.jpg" alt="Shoe 1">
                    <img class="shoe-image" src="st_2.jpg" alt="Shoe 2">
                    <img class="shoe-image" src="st_3.jpg" alt="Shoe 3">
                    <img class="shoe-image" src="st_4.jpg" alt="Shoe 4">
                </div>
                <div class="col-md-6 form-container">
                    <form>
                        <div class="form-group">
                            <label for="shoeSize">Válasszon méretet:</label>
                            <select class="form-control" id="shoeSize">
                                <option>43</option>
                                <option>44</option>
                                <option>46</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Kosárba rak</button>
                    </form>
                </div>

                <p></p>

                <!-- Puma STRunner Leírás -->
                <div class="container description-container mt-5 p-4 border rounded">
                    <h2 class="text-center mb-4">PUMA ST RUNNER</h2>
                    <p class="description-text">
                        A St Runner V3 NL egy nagyon kényelmes sportcipő a Puma-tól. Klasszikus Puma design modern
                        kivitelben. A fehér hullám és a felirat pedig jelzi a márkaszereteted.
                    </p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>