<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANGER Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <!--Navigáció-->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/views/home.html">DANGER Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../noi.html">Női</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../ferfi.html">Férfi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../gyerek.html">Gyerek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../kosar.html">Kosár</a>
                    </li>
                </ul>
                <!--Keresés-->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
                </form>
            </div>
        </nav>
        <p></p>

        <div class="container">
            <div class="row">
                <div class="col-md-6 shoe-images">
                    <img class="shoe-image" src="gazelle_1.avif" alt="Shoe 1">
                    <img class="shoe-image" src="gazelle_2.avif" alt="Shoe 2">
                    <img class="shoe-image" src="gazelle_3.avif" alt="Shoe 3">
                    <img class="shoe-image" src="gazelle_4.avif" alt="Shoe 4">

                </div>
                <div class="col-md-6 form-container">
                    <form>
                        <div class="form-group">
                            <label for="shoeSize">Válasszon méretet:</label>
                            <select class="form-control" id="shoeSize">
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>40</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Kosárba rak</button>
                    </form>
                </div>

                <p></p>

                <!-- Adidas Gazelle Leírás -->
                <div class="container description-container mt-5 p-4 border rounded">
                    <h2 class="text-center mb-4">Adidas Gazelle</h2>
                    <p class="description-text">
                        Az Adidas Gazelle egy ikonikus és stílusos sportcipő, amelyet eredetileg 1968-ban terveztek, és
                        azóta is az utcai divat egyik meghatározó eleme maradt. A Gazelle egyszerű, mégis markáns
                        kialakítása miatt népszerű a sport és a városi stílus szerelmesei körében.
                    </p>
                    <p class="description-text">
                        A Gazelle felső része általában prémium bőrből vagy szintetikus anyagokból készül, és a három
                        ikonikus csíkkal díszített oldalsó panelekkel rendelkezik. A letisztult dizájn és a minimális
                        logók teszik lehetővé, hogy a Gazelle könnyedén illeszkedjen bármilyen öltözékhez.
                    </p>
                    <p class="description-text">
                        A cipő talpában elhelyezett puha talpbetét és az EVA középtalp kiválóan csillapítja az ütéseket,
                        biztosítva a kényelmes viseletet a mindennapi használat során. A Gazelle többféle
                        színváltozatban elérhető, lehetőséget adva a személyes stílus kifejezésére.
                    </p>
                    <p class="description-text">
                        Az Adidas Gazelle nemcsak divatos, de időtálló is, és az évtizedek során számos stílusikon és
                        zenész kedvelt választásává vált. Ha egy könnyű, kényelmes és ikonikus cipőre vágysz, az Adidas
                        Gazelle mindig egy remek választás.
                    </p>
                </div>


            </div>
        </div>
    </div>

</body>

</html>