<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANGER Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>

<body>

     <!--Navigáció-->
     <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../../home.html">DANGER Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../noi.html">Női</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../ferfi.html">Férfi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../gyerek.html">Gyerek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../kosar.html">Kosár</a>
                    </li>
                </ul>
                
            </div>
        </nav>
        <p></p>

    <div class="container">
        <div class="row">
            <div class="col-md-6 shoe-images">
                <img class="shoe-image" src="max90og_1.webp" alt="Shoe 1">
                <img class="shoe-image" src="max90og_2.webp" alt="Shoe 2">
                <img class="shoe-image" src="max90og_3.webp" alt="Shoe 3">
                <img class="shoe-image" src="max90og_4.jfif" alt="Shoe 3">
            </div>
            <div class="col-md-6 form-container">
                <form>
                    <div class="form-group">
                        <label for="shoeSize">Válasszon méretet:</label>
                        <select class="form-control" id="shoeSize">
                            <option>35</option>
                            <option>37</option>
                            <option>38</option>
                            <option>41</option>
                            <option>43</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Kosárba rak</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>
